
/* based on https://webdesign.tutsplus.com/tutorials/how-to-make-responsive-scrollable-panels-with-flexbox--cms-23269*/
html, body {
    height: 100%;
}

.chat-wrap {
    height: 100vh;
    display: flex;
}

.chat-main {
    flex: 1;
    display: flex;
}

.chat-aside, .chat-article {
    overflow-y: scroll;
    padding: 2em;
}

.chat-aside {
    flex: 1;
}

.chat-article {
    flex: 3;
}

/* my extensions*/
.chat-main {
    margin-top: 50px;
}

.chat-article {
    margin-bottom: 50px;
}
#message-input {
    position:fixed;
    margin-left:30%;
    width:65%;
    bottom:0px;
}
